.home-page {
  .lock-status {
    justify-content: space-between;
  }

  > section {
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: lightgray;

    > h2 {
      border-bottom: 2px solid black;
      margin-bottom: 1rem;
    }

    .battery-animation-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .battery-display {
      display: flex;

      > * {
        flex: 1;
        width: 50%;
      }
    }
  }
}
